@import "reset.min";
@import "fonts";
@import "colors";
@import "flex";

//sections
@import "sections/header";
@import "sections/splash";
@import "sections/about";



//SHARED CSS
.long-white-line{
  display: inline-block;
  width: 150px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: $white;
  border-radius: 3px;
  z-index: 1;
}

.short-gold-line{
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: $dark-gold;
  border-radius: 3px;
  z-index: 1;
}