html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  width: 100%;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

ol, ul {
  list-style: none; }

hr {
  border: 0;
  height: 1px;
  background: #ccc; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

html, input, select, textarea, button, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a {
  text-decoration: none; }

body {
  max-width: 100%; }

.main-font {
  font-family: "Libre Baskerville", serif; }

.sub-font {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.f-center-all {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex {
  display: flex; }

.f-justify-center {
  justify-content: center; }

.f-align-center {
  align-items: center; }

.f-row {
  flex-direction: row; }

.f-column {
  flex-direction: column; }

.fj-start {
  justify-content: flex-start; }

.fj-end {
  justify-content: flex-end; }

.fa-start {
  align-items: flex-start; }

.fa-end {
  align-items: flex-end; }

header {
  z-index: 900;
  position: fixed;
  width: 100%;
  padding: 30px;
  justify-content: space-between; }
  header nav ul li {
    font-size: .65rem;
    margin: 0 20px; }
    header nav ul li a {
      color: #fff; }
      header nav ul li a:hover {
        color: #bb8755; }
  @media (max-width: 991px) {
    header nav {
      display: none; } }
  header #menu-collapse {
    /*
     * Just a quick hamburger
     */
    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    /*
     * But let's hide the middle one.
     */
    /*
     * Ohyeah and the last one should go the other direction
     */
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    /*
     * And let's slide it in from the left
     */ }
    header #menu-collapse #menu-toggle {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
      header #menu-collapse #menu-toggle input {
        display: block;
        width: 55px;
        height: 20px;
        position: absolute;
        top: -8px;
        left: -2px;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none; }
    header #menu-collapse #menu-toggle span {
      display: block;
      width: 10px;
      height: 1px;
      margin-bottom: 3px;
      position: relative;
      background: #bb8755;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      header #menu-collapse #menu-toggle span span:first-child {
        transform-origin: 0% 0%; }
      header #menu-collapse #menu-toggle span span:nth-last-child(2) {
        transform-origin: 0% 100%; }
    header #menu-collapse #menu-toggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(4.25px, 4.25px);
      background: #bb8755; }
    header #menu-collapse #menu-toggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    header #menu-collapse #menu-toggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px); }
    header #menu-collapse #side-menu {
      position: absolute;
      width: 300px;
      margin: 10px 0 0 200px;
      padding: 25px 0;
      background: rgba(0, 0, 0, 0.9);
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(0%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      header #menu-collapse #side-menu li {
        padding: 5px 15px;
        font-size: 22px; }
        header #menu-collapse #side-menu li a {
          color: #fff;
          font-size: .75rem; }
          header #menu-collapse #side-menu li a:hover {
            color: #bb8755; }
    header #menu-collapse #menu-toggle input:checked ~ ul {
      transform: translate(-100%, 0); }
    header #menu-collapse h3 {
      margin: -2px 0 0 5px;
      font-size: .75rem;
      color: #fff; }

#container-splash {
  height: 100vh;
  background-image: url("../assets/splash-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  position: relative; }
  #container-splash #splash-left {
    width: 25%;
    padding-left: 30px; }
    #container-splash #splash-left a {
      margin-right: 10px;
      color: #fff;
      font-size: .7em; }
      #container-splash #splash-left a:hover {
        color: #bb8755; }
    #container-splash #splash-left #social-left {
      color: #fff;
      position: absolute;
      bottom: 30px;
      left: 30px; }
  #container-splash #splash-center {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #container-splash #splash-center div h1 {
      color: #e4a063;
      font-size: 5.5rem; }
    #container-splash #splash-center div p {
      color: #fff;
      font-size: .8rem;
      line-height: 1.5;
      margin: 30px 0; }
    #container-splash #splash-center div h2 {
      display: inline-block;
      border-bottom: 1px solid #bb8755;
      padding-bottom: 5px;
      font-size: .8rem; }
      #container-splash #splash-center div h2 a {
        color: #bb8755; }
    #container-splash #splash-center #count-ten {
      color: #fff;
      position: absolute;
      bottom: 25px; }
      #container-splash #splash-center #count-ten a {
        color: #fff;
        margin: 0 10px; }
        #container-splash #splash-center #count-ten a:hover {
          color: #bb8755; }
  #container-splash #splash-right {
    width: 25%;
    padding-right: 30px; }
    #container-splash #splash-right a {
      margin-left: 10px;
      color: #fff;
      font-size: .7em; }
      #container-splash #splash-right a:hover {
        color: #bb8755; }
    #container-splash #splash-right #scroll-down-splash {
      position: absolute;
      bottom: 30px;
      right: 30px; }
  @media (max-width: 991px) {
    #container-splash #splash-left {
      display: none; }
    #container-splash #splash-center {
      width: 100%; }
      #container-splash #splash-center div h1 {
        font-size: 10vw; }
    #container-splash #splash-right {
      display: none; } }

#container-about {
  padding: 90px 0;
  position: relative; }
  #container-about #about-height {
    height: 100%;
    width: 100%; }
    #container-about #about-height #about-left {
      width: 50%; }
    #container-about #about-height #about-center {
      width: 35%;
      padding-left: 70px; }
      #container-about #about-height #about-center h2 {
        font-size: 2.75rem;
        font-weight: 700; }
      #container-about #about-height #about-center div {
        margin: 15px 0; }
      #container-about #about-height #about-center p {
        font-size: .8rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 30px; }
      #container-about #about-height #about-center h3 {
        display: inline-block; }
        #container-about #about-height #about-center h3 a {
          color: #000;
          font-size: .7rem;
          border: 1px solid #bb8755;
          padding: 10px 50px; }
    #container-about #about-height #about-right {
      width: 15%;
      height: 100%;
      color: #e4a063; }
      #container-about #about-height #about-right h2 {
        opacity: .25;
        position: absolute;
        top: 90px;
        font-size: 13rem;
        font-weight: 100;
        line-height: .85; }
      #container-about #about-height #about-right h3 {
        opacity: .75;
        position: absolute;
        bottom: 140px;
        padding-top: 40px;
        font-size: .6rem;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
        #container-about #about-height #about-right h3 span {
          margin-left: 5px; }
  @media (max-width: 991px) {
    #container-about {
      padding: 40px 0; }
      #container-about #about-height {
        flex-direction: column; }
        #container-about #about-height #about-left {
          width: 100%;
          justify-content: center; }
          #container-about #about-height #about-left img {
            width: 50%;
            height: 50%; }
        #container-about #about-height #about-center {
          width: 100%;
          padding: 5% 0 0 0;
          align-items: center; }
          #container-about #about-height #about-center div {
            align-items: flex-start; }
        #container-about #about-height #about-right {
          display: none; } }
  @media (max-width: 767px) {
    #container-about #about-height #about-left img {
      width: 90%;
      height: 90%; } }

#container-services {
  padding: 90px 0;
  position: relative;
  background-image: url("../assets/services-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 991px) {
    #container-services {
      background-image: url("../assets/splash-bg.jpg"); } }
  #container-services #services-height {
    height: 100%;
    width: 100%; }
    #container-services #services-height #services-left {
      width: 20%;
      height: 100%;
      color: #e4a063; }
      @media screen and (max-width: 991px) {
        #container-services #services-height #services-left {
          display: none; } }
      #container-services #services-height #services-left h2 {
        opacity: .25;
        position: absolute;
        top: -75px;
        left: 40px;
        font-size: 13rem;
        font-weight: 100;
        line-height: .85; }
      #container-services #services-height #services-left h3 {
        opacity: .75;
        position: absolute;
        bottom: 75px;
        left: 40px;
        padding-top: 40px;
        font-size: .6rem;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
        #container-services #services-height #services-left h3 span {
          margin-left: 5px; }
    #container-services #services-height #services-right {
      width: 80%;
      margin-left: 5%;
      margin-bottom: -150px; }
      @media screen and (max-width: 991px) {
        #container-services #services-height #services-right {
          margin-left: 0;
          width: 100%; } }
      #container-services #services-height #services-right #services-gallery {
        width: 75%; }
        @media screen and (max-width: 991px) {
          #container-services #services-height #services-right #services-gallery {
            width: 100%; } }
        #container-services #services-height #services-right #services-gallery #services-header {
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 40px; }
          #container-services #services-height #services-right #services-gallery #services-header h2 {
            color: #fff;
            font-size: 2.5rem; }
          #container-services #services-height #services-right #services-gallery #services-header h3 {
            display: inline-block;
            border-bottom: 1px solid #bb8755;
            padding-bottom: 5px;
            font-size: .65rem; }
            #container-services #services-height #services-right #services-gallery #services-header h3 a {
              color: #fff; }
              #container-services #services-height #services-right #services-gallery #services-header h3 a:hover {
                color: #bb8755; }
          @media screen and (max-width: 991px) {
            #container-services #services-height #services-right #services-gallery #services-header #services-title {
              margin-left: 40px; }
            #container-services #services-height #services-right #services-gallery #services-header #learn-more-services {
              display: none; } }
        #container-services #services-height #services-right #services-gallery #gallery {
          justify-content: center;
          flex-wrap: wrap; }
          #container-services #services-height #services-right #services-gallery #gallery div {
            width: 270px;
            height: 270px;
            padding: 10px;
            margin: .5vw;
            color: rgba(255, 255, 255, 0.75);
            position: relative; }
            @media screen and (max-width: 991px) {
              #container-services #services-height #services-right #services-gallery #gallery div {
                margin: 0 0 2.5vw 0; } }
            #container-services #services-height #services-right #services-gallery #gallery div h2 {
              margin-bottom: 20px;
              font-weight: 100;
              font-size: 1.2rem; }
            #container-services #services-height #services-right #services-gallery #gallery div h4 {
              margin-bottom: 10px; }
              #container-services #services-height #services-right #services-gallery #gallery div h4 a {
                color: rgba(255, 255, 255, 0.75); }
                #container-services #services-height #services-right #services-gallery #gallery div h4 a:hover {
                  color: #bb8755; }
            #container-services #services-height #services-right #services-gallery #gallery div p {
              width: 60%;
              text-align: center;
              font-size: .75rem;
              line-height: 1.5;
              margin: 20px; }
            #container-services #services-height #services-right #services-gallery #gallery div h3 {
              display: inline-block;
              border-bottom: 1px solid #bb8755;
              padding-bottom: 5px;
              font-size: .65rem; }
              #container-services #services-height #services-right #services-gallery #gallery div h3 a {
                color: #bb8755; }
          #container-services #services-height #services-right #services-gallery #gallery #service-1 {
            background-image: url("../assets/services-1.jpg"); }
          #container-services #services-height #services-right #services-gallery #gallery #service-2 {
            background-image: url("../assets/services-2.jpg"); }
          #container-services #services-height #services-right #services-gallery #gallery #service-3 {
            background-image: url("../assets/services-3.jpg"); }

#container-projects {
  padding-top: 150px;
  position: relative; }
  @media screen and (max-width: 767px) {
    #container-projects {
      padding-top: 100px; } }
  #container-projects h2 {
    font-size: 2.5rem; }
  #container-projects span {
    margin: 25px 0 50px; }
  #container-projects #projects {
    padding: .5vw;
    font-size: 0;
    flex-wrap: wrap;
    justify-content: space-around; }
    #container-projects #projects a {
      width: 420px;
      max-width: 420px;
      margin: .5vw; }
      #container-projects #projects a img {
        width: 100%;
        height: auto; }
  #container-projects #portfolio {
    color: #e4a063; }
    @media screen and (max-width: 991px) {
      #container-projects #portfolio {
        display: none; } }
    #container-projects #portfolio h2 {
      opacity: .25;
      position: absolute;
      top: 220px;
      right: 80px;
      font-size: 13rem;
      font-weight: 100;
      line-height: .85; }
    #container-projects #portfolio h3 {
      opacity: .75;
      position: absolute;
      bottom: 60px;
      right: 120px;
      padding-top: 40px;
      font-size: .6rem;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      #container-projects #portfolio h3 span {
        margin-bottom: 2px; }

#container-testimonial {
  background-image: url("../assets/testimonial-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35vh 0;
  color: rgba(255, 255, 255, 0.75);
  position: relative; }
  #container-testimonial #t-content {
    position: relative; }
    #container-testimonial #t-content a {
      color: rgba(255, 255, 255, 0.75); }
    #container-testimonial #t-content i {
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -ms-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2); }
    #container-testimonial #t-content h2 {
      margin: 0 150px;
      font-weight: 100;
      text-align: center;
      font-size: 1.6vw; }
    #container-testimonial #t-content #quote-icon {
      color: rgba(228, 160, 99, 0.1);
      position: absolute;
      bottom: 40px;
      left: 150px;
      font-size: 3rem; }
  #container-testimonial #happy-clients {
    color: #e4a063; }
    @media screen and (max-width: 991px) {
      #container-testimonial #happy-clients {
        display: none; } }
    #container-testimonial #happy-clients h2 {
      opacity: .25;
      position: absolute;
      top: -75px;
      left: 40px;
      font-size: 13rem;
      font-weight: 100;
      line-height: .85; }
    #container-testimonial #happy-clients h3 {
      opacity: .75;
      position: absolute;
      bottom: 80px;
      left: 40px;
      padding-top: 40px;
      font-size: .6rem;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      #container-testimonial #happy-clients h3 span {
        margin-bottom: 2px; }
  #container-testimonial h3 {
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 10px; }
  #container-testimonial h4 {
    font-weight: 100;
    font-size: .8rem; }
  #container-testimonial span {
    margin: 20px 0; }

#container-description {
  width: 100%;
  padding: 90px 0;
  position: relative; }
  #container-description img {
    max-height: 415px;
    max-width: 500px;
    width: 100%;
    margin-right: -25px; }
  #container-description span {
    margin: 25px 0; }
  #container-description div {
    margin-left: 100px;
    width: 25%; }
    #container-description div h2 {
      font-size: 3em; }
    #container-description div p {
      font-size: .8rem;
      position: relative; }
      #container-description div p #t-indent {
        color: #bb8755;
        position: absolute;
        top: -28px;
        font-size: 2rem; }
  #container-description #customs {
    color: #e4a063; }
    @media screen and (max-width: 991px) {
      #container-description #customs {
        display: none; } }
    #container-description #customs h2 {
      opacity: .25;
      position: absolute;
      top: -80px;
      right: 80px;
      font-size: 13rem;
      font-weight: 100;
      line-height: .85; }
    #container-description #customs h3 {
      opacity: .75;
      position: absolute;
      bottom: 120px;
      right: 120px;
      padding-top: 40px;
      font-size: .6rem;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
      #container-description #customs h3 span {
        margin-bottom: 2px; }

.par-indent {
  padding-left: 25px; }

footer {
  background-color: #000;
  justify-content: space-between;
  padding: 30px 15%; }
  footer .brand {
    display: inline-block; }
    footer .brand div {
      display: inline-block; }
  footer ul li {
    margin-left: 10px; }
    footer ul li a {
      color: #fff;
      font-size: .75rem; }
  footer p {
    color: #6f6f6f;
    font-size: .75rem;
    padding: 15px 0; }
    footer p a {
      color: #fff; }
  footer #credit {
    text-align: right;
    margin-top: 15px; }

.brand img {
  height: 30px; }
.brand div {
  color: #fff;
  margin-left: 5px; }
  .brand div h2 {
    font-size: .95rem;
    margin-bottom: 3px; }
  .brand div h3 {
    font-size: .5rem; }

.long-white-line {
  display: inline-block;
  width: 150px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1; }

.short-gold-line {
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: #bb8755;
  border-radius: 3px;
  z-index: 1; }

.long-gold-line {
  display: inline-block;
  width: 75px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: #bb8755;
  border-radius: 3px;
  z-index: 1; }

.more {
  padding: 50px 0;
  display: inline-block; }
  .more a {
    color: #000;
    font-size: .7rem;
    border: 1px solid #bb8755;
    padding: 10px 50px; }

.img-set {
  background-size: cover;
  background-repeat: no-repeat; }

/*# sourceMappingURL=main-style.css.map */
