@import "reset.min";
@import "fonts";
@import "colors";
@import "flex";
@import "breakpoints";

//sections
@import "sections/header";
@import "sections/splash";
@import "sections/about";
@import "sections/services";
@import "sections/projects";
@import "sections/testimonial";
@import "sections/description";
@import "sections/footer";

//SHARED CSS
.brand{
  img{
    height: 30px;
  }
  div{
    color: $white;
    margin-left: 5px;
    h2{
      font-size: .95rem;
      margin-bottom: 3px;
    }
    h3{
      font-size: .5rem;
    }
  }
}

.long-white-line{
  display: inline-block;
  width: 150px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: $white;
  border-radius: 3px;
  z-index: 1;
}

.short-gold-line{
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: $dark-gold;
  border-radius: 3px;
  z-index: 1;
}

.long-gold-line{
  display: inline-block;
  width: 75px;
  height: 1px;
  margin-bottom: 3px;
  position: relative;
  background: $dark-gold;
  border-radius: 3px;
  z-index: 1;
}

.more{
  padding: 50px 0;
  display: inline-block;
  a{
    color: $black;
    font-size: .7rem;
    border: 1px solid $dark-gold;
    padding: 10px 50px;
  }
}

.img-set{
  background-size: cover;
  background-repeat: no-repeat;
}