@import "../colors";

#container-description{
  width: 100%;
  padding: 90px 0;
  position: relative;
  img{
    max-height: 415px;
    max-width: 500px;
    width: 100%;
    margin-right: -25px;
  }
  span{
    margin: 25px 0;
  }
  div{
    margin-left: 100px;
    width: 25%;
    h2{
      font-size: 3em;
    }
    p{
      font-size: .8rem;
      position: relative;
      #t-indent{
        color: $dark-gold;
        position: absolute;
        top: -28px;
        font-size: 2rem;
      }
    }
  }
  #customs{
    color: $light-gold;
    @media screen and (max-width: $tablet-max) {
      display: none;
    }
    h2{
      opacity: .25;
      position: absolute;
      top: -80px;
      right: 80px;
      font-size: 13rem;
      font-weight: 100;
      line-height: .85;
    }
    h3{
      opacity: .75;
      position: absolute;
      bottom: 120px;
      right: 120px;
      padding-top: 40px;
      font-size: .6rem;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      span{
        margin-bottom: 2px;
      }
    }
  }
}

.par-indent{
  padding-left: 25px;
}