@import "../colors";

footer{
  background-color: $black;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 15%;
  @media screen and (max-width: $tablet-max) {
    justify-content: center;
  }
  .brand{
    display: inline-block;
    div{
      display: inline-block;
    }
    @media screen and (max-width: $tablet-max) {
      display: flex;
    }
  }
  ul{
    li{
      margin-left: 10px;
      a{
        color: $white;
        font-size: .75rem;
      }
    }

  }
  @media screen and (max-width: $tablet-max) {
    #footer-list{
      display: none;
    }
  }

  p{
    color: $dark-grey;
    font-size: .75rem;
    padding: 15px 0;
    a{
      color: $white;
    }
  }
  #credit{
    text-align: right;
    margin-top: 15px;
    @media screen and (max-width: $tablet-max) {
      text-align: center;
      margin-top: 0;
    }
  }
}